### Part 1

In [1]:
import pandas as pd

In [2]:
depths_df = pd.read_csv('../inputs/1_a.txt', header=None, names=['depth'])

In [3]:
depths_df.head()

   depth
0    195
1    197
2    201
3    204
4    203

In [4]:
depths_df.shape

(2000, 1)

In [5]:
depths_df['depth_shifted'] = depths_df['depth'].shift(-1)

In [6]:
depths_df.head()

   depth  depth_shifted
0    195          197.0
1    197          201.0
2    201          204.0
3    204          203.0
4    203          216.0

In [7]:
depths_df.shape

(2000, 2)

In [8]:
(depths_df['depth_shifted'] > depths_df['depth']).sum()

1624

### Part 2

In [9]:
depths_df['depth_rolling'] = depths_df['depth'].rolling(3).sum()

In [10]:
depths_df.head()

   depth  depth_shifted  depth_rolling
0    195          197.0            NaN
1    197          201.0            NaN
2    201          204.0          593.0
3    204          203.0          602.0
4    203          216.0          608.0

In [11]:
depths_df['depth_rolling_shifted'] = depths_df['depth_rolling'].shift(-1)

In [12]:
depths_df.head()

   depth  depth_shifted  depth_rolling  depth_rolling_shifted
0    195          197.0            NaN                    NaN
1    197          201.0            NaN                  593.0
2    201          204.0          593.0                  602.0
3    204          203.0          602.0                  608.0
4    203          216.0          608.0                  623.0

In [13]:
(depths_df['depth_rolling_shifted'] > depths_df['depth_rolling']).sum()

1653