### Part 1

In [1]:
import pandas as pd

In [2]:
inputs_df = pd.read_csv('../inputs/2.txt', header=None, names=['order', 'times'], sep=' ')

In [3]:
inputs_df.head()

     order  times
0  forward      9
1     down      8
2     down      2
3     down      4
4       up      8

In [4]:
inputs_df.shape

(1000, 2)

In [5]:
forward_times = inputs_df[inputs_df.order=='forward'].times.sum()
down_times = inputs_df[inputs_df.order=='down'].times.sum()
up_times = inputs_df[inputs_df.order=='up'].times.sum()

In [6]:
up_times

955

In [7]:
down_times

2018

In [8]:
forward_times

1968

In [9]:
forward_times*(down_times-up_times)

2091984

### Part 2

In [10]:
aim = 0
horizontal = 0
depth= 0
for index, values in inputs_df.iterrows():
    if values['order']== 'forward':
        horizontal +=values['times']
        depth += aim * values['times']
    elif values['order']== 'up':
        aim -= values['times']
    elif values['order']== 'down':
        aim += values['times']

In [11]:
horizontal

1968

In [12]:
depth

1060092

In [13]:
depth*horizontal

2086261056